# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/
build/
dist/

# VSCode
.vscode/

# Node
node_modules/
Fronthend/vite-project/node_modules/
Fronthend/vite-project/dist/

# Logs
npm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# Env files
.env

# IDE specific
.idea/

